*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    background-color: red;
}


.content{
    background-color: red;
    height: 100px;
}


.card{
    height: 75px;
    background-color: black;
}

.navbar-toggler {
    border: 1px solid white;
}

.jumbo-img{
    max-width: 125px;
}

/* DECOTATION */

.decoration-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.decoration-custom-line {
    width: 100%;
    max-width: 100px;
    height: 3px;
    border-radius: 50px;
}

.decoration-icon {
    font-size: 25px;
    margin: 15px;
}

/* CUSTOMS COLORS */
.bg-custom-darkblue{
    background-color: #2D3E50;
}

.text-custom-darkblue{
    color: #2D3E50;
}

.bg-acqua{
    background-color: #1BBC9B;
}

.bg-footer{
    background-color: #3A546D;
}

.text-header-icon{
    color: #898886;
}


