*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    background-color: red;
}

.content{
    background-color: red;
    height: 100px;
}


.card{
    height: 75px;
    background-color: black;
}

.bg-header{
    background-color: #2D3E50;
}

.bg-acqua{
    background-color: #1BBC9B;
}

.bg-footer{
    background-color: #3A546D;
}